/* common start */
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common end */
/* header start */
header {

}
.container {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
    overflow: hidden;
}
.logo {
    margin-top: 14px;
    width: 12%;
    /* border: 1px solid red; */
    float: left;
}
.logo img {
    width: 100%;
}
.menu {
    width: 65%;
    /* border: 1px solid red; */
    float: right;
}
.menu ul {
    float: right;
}
.menu ul li {
    list-style: none;
    float: left;
}
.menu ul li a {
    display: inline-block;
    margin: 0 35px;
    padding: 4px 1px 3px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .3s;
}
.menu ul li:last-child a {
    margin-right: 0;
}
.menu ul li a:hover {
    border-bottom: 1px solid #626262;
}
/* header end */
/* banner start */
.banner {

}
.b_img {

}
.b_img img {
    width: 100%;
}
/* banner end */
/* perfect start */
.perfect {
    padding-top: 35px;
    padding-bottom: 100px;
    /* border: 1px solid blue; */
}
.container2 {
    overflow: hidden;
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid red; */
}
.p_content {

}
.c_light {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 14px;
    font-weight: 300;
    color: #B3AC9D;
    text-transform: uppercase;
}
.c_h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}
.c_text {
    line-height: 25px;
}
.mb_40 {
    margin-bottom: 40px;
}
/* perfect end */
/* blog start */
.blog {

}
.blogs {

}
.single {
    margin-top: 70px;
    width: 47%;
    /* border: 1px solid green; */
    float: left;
}
.single:nth-child(even) {
    margin-left: 6%;
}
.s_img {
    margin-bottom: 25px;
}
.s_img img {
    width: 100%;
}
/* blog end */
/* newsletter start */
.newsletter {
    padding: 70px 0;
    background-color: #EFEFEF;
}
.signup {
    text-align: center;
}
.s_h1 {
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 700;
}
.s_form {
    width: 400px;
    margin: 0 auto;
    position: relative;
}
.s_form input {
    font-family: 'Playfair Display', serif;;
    font-size: 16px;
    width: 345px;
    height: 45px;
    padding-left: 5px;
    padding-right: 55px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
.s_form button {
    border: none;
    top: 15px;
    right: 0;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}
.s_form button img {
    max-width: 100%;
}
/* newsletter end */
/* blog 2nd part start */
.loadmore {
    width: 15%;
    margin: 150px auto 60px;
}
.loadmore button {
    font-family: 'Playfair Display', serif;;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #626262;
    background-color: transparent;
    transition: .3s;
    cursor: pointer;
}
.loadmore button:hover {
    background-color: #000000;
    color: white;
}
/* blog 2nd part end */
/* footer start */
.footer {
    padding: 20px 0;
    background-color: #EFEFEF;
}
.terms {

}
.terms ul {
    float: left;
}
.terms ul li {
    list-style: none;
    float: left;
}
.terms ul li a {
    font-family: 'Playfair Display', serif;
    color: #626262;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}
.terms ul li a:hover {
    border-bottom: 1px solid black;
}
.terms ul li:first-child a {
    padding-left: 0;
}
.social {

}
.social ul {
 float: right;
}
.social ul li {
    list-style: none;
    float: left;
}
.social ul li a {
    font-family: 'Playfair Display', serif;
    color: #626262;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}
.social ul li a:hover {
    border-bottom: 1px solid black;
}
.social ul li:last-child a {
    margin-right: 0;
} 
.social ul li a img {

}
/* footer end */
